@using WebApplication1.Data.ViewModel
@model EmployeeViewModel

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="DateOfBirth"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Gender"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="DepartmentRefId"></label>
                <select asp-for="DepartmentRefId" class ="form-control" asp-items="ViewBag.DepartmentList"></select>
                <span asp-validation-for="DepartmentRefId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="NationalityRefId"></label>
                <select asp-for="NationalityRefId" class ="form-control" asp-items="ViewBag.NationalityList"></select>
                <span asp-validation-for="NationalityRefId" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}